.applicationProgress {
    width: 560px;
    height: 15px;
    position: absolute;
    left: 50%;
    margin-left: -280px;
}

.progressLabel {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 10px;
}
