.applicationProgress {
    width: 560px;
    height: 15px;
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -280px;
}

.progressLabel {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 10px;
}

.warning-application {
    width: 510px;
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -280px;
    display: none;
}

