#homeContainer {
    position: relative;
    top: 100px;
    margin: 0 auto;
}

#homeContainer table {
    background-color: #e7e4d3;
}

#homeContainer th {
    background-color: #e5f2d9;
}

.home-container {
    width: 700px;
    max-width: 700px;
    text-align: center;
}
