#registerContainer {
    margin-top: 50px;
}

form.register {
    width: 500px;
    max-width: 500px;
}

.registerInput {
    width: 460px;
}

.feedbackIcon {
    position: relative;
    top: 50%;
    margin-top: -4px;
}
