#registerContainer, #applicationContainer {
    margin-top: 50px;
}

form.register, form.application {
    width: 500px;
    max-width: 500px;
}

.registerInput {
    width: 460px;
}

.feedbackIcon {
    position: relative;
    top: 50%;
    margin-top: -4px;
}

.applicationCheckbox {
    display: inline-block;
}

.applicationCheckbox:last-of-type {
    margin-left: 30px;
}
