<h5 ng-show="pendingApplications.length == 0" class="text-center well muted"><strong>Браво!</strong> Няма молби, които да чакат да бъдат одобрени</h5>
<div style="max-width: 100%;" class="grey-container" ng-hide="pendingApplications.length == 0">
    <h3 class="text-center text-error">Списък с всички неодобрени молби</h3>
    <table id="board" class="table table-striped table-bordered">
            <tr>
                <th>Име</th>
                <th>Факултет</th>
                <th>Специалност</th>
                <th>Факултетен номер</th>
                <th>Оценка</th>
                <th>Статус</th>
            </tr>
            <tr ng-repeat="application in pendingApplications">
                <td>{{ application.firstName }} {{ application.surname }} {{ application.lastName }}</td>
                <td>{{ application.facultyName }}</td>
                <td>{{ application.major }}</td>
                <td>{{ application.facultyId }}</td>
                <td>{{ application.grade }}</td>
                <td><a class="btn btn-inverse" ng-click="approveApplication(application)">Одобри</a></td>
            </tr>
</div>
