<div id="applicationContainer">
    <form class="application">
        <h2 class="form-heading">Попълване на формуляр</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Име" value="Мартин" required/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Презиме" value="Асенов" required/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Фамилия" value="Асенов" required/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Факултетен номер" value="80457" required/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="e-mail адрес" value="asenov.m@gmail.com" required/>
        <i class="icon-ok feedbackIcon"></i>
        <a class="btn btn-inverse" href="#application-page2">Продължи</a>
    </form>
    <div class="btn-toolbar">
</div>
</div>
