<div id="applicationContainer">
    <div class="alert alert-error warning-application">
      <strong>Грешка!</strong>
    </div>`
    <form class="application grey-container">
        <h2 class="form-heading">Попълване на формуляр</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Име на втори родител/настойник" ng-model="application.secondParentFirstName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('secondParentFirstName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('secondParentFirstName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Презиме на втори родител/настойник" ng-model="application.secondParentSurname"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('secondParentSurname')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('secondParentSurname')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Фамилия на втори родител/настойник" ng-model="application.secondParentLastName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('secondParentLastName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('secondParentLastName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Компания на втори родител/настойник" ng-model="application.secondParentCompany"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('secondParentCompany')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('secondParentCompany')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Доход за последните 6 месецa" ng-model="application.secondParentIncome"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidIncome('secondParentIncome')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidIncome('secondParentIncome')"></i>
        <a class="btn btn-inverse" ng-click="next(4, isValidName('secondParentFirstName') && isValidName('secondParentSurname') && isValidName('secondParentLastName') && isValidName('secondParentCompany') && isValidIncome('secondParentIncome'))">Продължи</a>
    </form>
    <div class="progress progress-success progress-striped applicationProgress">
        <div class="progressLabel">3/4</div>
        <div class="bar" style="width: 75%;"></div>
    </div>
</div>
