<div id="applicationContainer">
    <form class="application">
        <h2 class="form-heading">Попълване на формуляр</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Име на първи родител/настойник" ng-model="student.firstParentFirstName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFirstParentFirstName()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFirstParentFirstName()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Презиме на първи родител/настойник" ng-model="student.firstParentSurname"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFirstParentSurname()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFirstParentSurname()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Фамилия на първи родител/настойник" ng-model="student.firstParentLastName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFirstParentLastName()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFirstParentLastName()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Компания на първи родител/настойник" ng-model="student.firstParentCompanyName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFirstParentCompanyName()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFirstParentCompanyName()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Доход за последните 6 месецa" ng-model="student.firstParentIncome"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFirstParentIncome()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFirstParentIncome()"></i>
        <a class="btn btn-inverse" href="#application-page3">Продължи</a>
    </form>
    <div class="btn-toolbar">
</div>
</div>
