<div id="applicationContainer">
    <form class="application">
        <h2 class="form-heading">Попълване на формуляр</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Име" ng-model="application.firstName" readonly/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Презиме" ng-model="application.surname" readonly/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Фамилия" ng-model="application.lastName" readonly/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Факултетен номер" ng-model="application.facultyId" readonly/>
        <i class="icon-ok feedbackIcon"></i>
        <input type="text" class="input-block-level registerInput" placeholder="e-mail адрес" ng-model="application.email" readonly/>
        <i class="icon-ok feedbackIcon"></i>
        <a class="btn btn-inverse" ng-click="next(2, true)">Продължи</a>
    </form>
    <div class="progress progress-success progress-striped applicationProgress">
        <div class="progressLabel">1/4</div>
        <div class="bar" style="width: 25%;"></div>
    </div>
</div>
