<div id="applicationContainer">
    <form class="application">
        <h2 class="form-heading">Попълване на формуляр</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Име на първи родител/настойник" ng-model="application.firstParentFirstName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('firstParentFirstName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('firstParentFirstName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Презиме на първи родител/настойник" ng-model="application.firstParentSurname"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('firstParentSurname')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('firstParentSurname')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Фамилия на първи родител/настойник" ng-model="application.firstParentLastName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('firstParentLastName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('firstParentLastName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Компания на първи родител/настойник" ng-model="application.firstParentCompanyName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('firstParentCompanyName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('firstParentCompanyName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Доход за последните 6 месецa" ng-model="application.firstParentIncome"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFirstParentIncome()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFirstParentIncome()"></i>
        <a class="btn btn-inverse" ng-click="next(3)">Продължи</a>
    </form>
    <div class="btn-toolbar">
</div>
</div>
