<div id="applicationContainer">
    <div class="alert alert-error warning-application">
      <strong>Грешка!</strong>
    </div>`
    <form class="application" ng-controller="ApplicationFormController" ng-submit="sendApplication()">
        <h2 class="form-heading">Попълване на формуляр</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Курс" ng-model="application.schoolYear"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidSchoolYear()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidSchoolYear()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Оценка" ng-model="application.grade"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidGrade()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidGrade()"></i>
        <div id="checkboxContainer">
            <label class="checkbox applicationCheckbox">
                <input type="checkbox" ng-model="application.socialScholarship"> Социална стипендия
            </label>
            <label class="checkbox applicationCheckbox">
                <input type="checkbox" ng-model="application.wholeYearScholarship"> Целогодишна стипендия
            </label>
        </div>
        <button class="btn btn-inverse" type="submit">Запази</button>
    </form>
    <div class="progress progress-success progress-striped applicationProgress">
        <div class="progressLabel">4/4</div>
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>
