<form style="max-width:100%;" class="grey-container">
    <h3 class="text-center text-warning">Списък с всички неодобрени молби</h3>
    <table id="board" class="table table-striped table-bordered">
            <tr>
                <th>Име</th>
                <th>Факултет</th>
                <th>Специалност</th>
                <th>Факултетен номер</th>
                <th>Оценка</th>
                <th>Статус</th>
            </tr>
            <tr ng-repeat="application in pendingApplications">
                <td>{{ application.firstName }} {{ application.surname }} {{ application.lastName }}</td>
                <td>{{ application.facultyName }}</td>
                <td>{{ application.major }}</td>
                <td>{{ application.facultyId }}</td>
                <td>{{ application.grade }}</td>
                <td><a class="btn btn-inverse" ng-click="approveApplication(application)">Одобри</a></td>
            </tr>
</form>
