<div class="loginContainer">
    <form class="form-signin">
        <h2 class="form-signin-heading">Вход</h2>
        <input type="text" class="input-block-level" placeholder="e-mail адрес">
        <input type="password" class="input-block-level" placeholder="парола">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Запомни ме
        </label>
        <button class="btn btn-large btn-primary" type="submit">Вход</button>
        <p class="notRegistered">
            Не сте се регистрарали? Можете да направите това от <a>тук</a>.
        </p>
    </form>
</div> 
