<div class="loginContainer">
    <div class="alert alert-error warning">
      <strong>Грешка!</strong>
    </div>
    <form ng-submit="login()" class="grey-container">
        <h2 class="form-heading">Вход</h2>
        <input type="text" class="input-block-level" placeholder="e-mail адрес" ng-model="credentials.username">
        <input type="password" class="input-block-level" placeholder="парола" ng-model="credentials.password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Запомни ме
        </label>
        <button class="btn btn-inverse" type="submit">Вход</button>
        <p class="notRegistered">
            Не сте се регистрарали? Можете да направите това от <a class="label label-info" href="#/register">тук</a>.
        </p>
    </form>
</div> 
