<div id="registerContainer">
    <div class="alert alert-error warning-application">
      <strong>Грешка!</strong><span class="content"></span>
    </div>
    <form class="register grey-container" ng-submit="register()">
        <h2 class="form-heading">Регистрация</h2>
        <input type="text" class="input-block-level registerInput" placeholder="Име" ng-model="student.firstName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('firstName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('firstName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Презиме" ng-model="student.surname"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('surname')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('surname')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Фамилия" ng-model="student.lastName"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidName('lastName')"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidName('lastName')"></i>
        <input type="text" class="input-block-level registerInput" placeholder="Факултетен номер" ng-model="student.facultyId"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidFacultyId()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidFacultyId()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="e-mail адрес" ng-model="student.email"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidEmail()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidEmail()"></i>
        <input type="password" class="input-block-level registerInput" placeholder="парола" ng-model="student.password"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidPassword()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidPassword()"></i>
        <input type="text" class="input-block-level registerInput" placeholder="специалност" ng-model="student.major"/>
        <i class="icon-remove feedbackIcon" ng-show="!isValidMajor()"></i>
        <i class="icon-ok feedbackIcon" ng-show="isValidMajor()"></i>
        <select class="selectpicker">
            <option>Факултет по математика и информатика</option>
            <option>Факултет по физика</option>
            <option>Факултет по физика и фармация</option>
            <option>Биологически факултет</option>
            <option>Геолого-географски факултет</option>
            <option>Юридически факултет</option>
            <option>Исторически факултет</option>
            <option>Стопански факултет</option>
            <option>Философски факултет</option>
        </select>
        <button class="btn btn-inverse" type="submit">Регистрaция</button>
    </form>
</div>
