<div id="registerContainer">
    <form class="register">
        <h2 class="form-heading">Регистрация</h2>
        <input type="text" class="input-block-level" placeholder="Име"/>
        <input type="text" class="input-block-level" placeholder="Презиме"/>
        <input type="text" class="input-block-level" placeholder="Фамилия"/>
        <input type="text" class="input-block-level" placeholder="Факултетен номер"/>
        <select class="selectpicker">
            <option>Факултет по математика и информатика</option>
            <option>Факултет по физика</option>
            <option>Факултет по физика и фармация</option>
            <option>Биологически факултет</option>
            <option>Геолого-географски факултет</option>
            <option>Юридически факултет</option>
            <option>Исторически факултет</option>
            <option>Стопански факултет</option>
            <option>Философски факултет</option>
        </select>
        <input type="text" class="input-block-level" placeholder="e-mail адрес"/>
        <input type="password" class="input-block-level" placeholder="парола"/>
        <button class="btn btn-inverse" type="submit">Регистрaция</button>
    </form>
</div>
