<div id="homeContainer">
    <div ng-show="applications.length == 0" class="grey-container home-container">
        <h3>До момента нямате подадени формуляри.</h3>
        <a class="btn btn-inverse" href="#application">Подай нов формуляр</a>
    </div>
    <div ng-hide="applications.length == 0" class="grey-container home-container">
        <h3>Подадени до момента формуляри</h3>
        <table class="table table-bordered">
            <tr>
                <th>Име на формуляр</th>
                <th>Статус</th>
                <th>Линк</th>
                <th>Изтрий</th>
            </tr>
            <tr ng-repeat="application in applications">
                <td>Формуляр за стипендия за зимен семестър</td>
                <td>{{ application.status }}</td>
                <td><a class="btn btn-primary" href="#">Свали</a></td>
                <td><a class="btn btn-warning" ng-click="deleteApplication(application)">Изтрий</a></td>
            </tr>
        </table>
    </div>
</div>
